<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>&nbsp;-&nbsp;&nbsp;-&nbsp;&nbsp;-&nbsp;注册页面！</title>
		<link rel="stylesheet" type="text/css" href="../../static/web/css/login.css" />
		<script type="text/javascript" src="../../static/web/js/jquery-1.12.0.js" ></script>
		<script type="text/javascript" src="../../static/web/js/jquery.cookie.js" ></script>
		<script type="text/javascript" src="../../static/web/js/login.js"></script>
	</head>
	<body>
		<div class="login">



			<h2 class="lg-title">欢迎来到我的博客，请注册</h2>

			<div class="lg-mark">

			</div>

			<div class="lg-major">
				<form  action="/register/" method="post"  id="lgForm">
					<ul>
						<li class="name">
							<input  name="username" id="nameIn" type="text" placeholder="请输入四位以上的用户名"/><span>{{ context }}</span>
							<div class="stop"><img src="../../static/web/images/stop.png"/><span>请输入四位以上 用户名！</span></div>
						</li><span style="color: red">{{ context }}</span>

						<li class="pwd">
							<input name="password" id="pwdIn" type="password" placeholder="密码"/>
						</li>

						<li class="picCode">
							<input type="text" name="code" placeholder="请输入验证码"/>

							<span class="code">点击获取验证码</span>

							<span class="change">看不清<br />换一换</span>

						</li>
                        <span style="color: red">{{ error }}</span>
						<li class="ways">



						</li>

						<li class="loginBtn">
							<a > <button type="submit"> 注册</button></a>
						</li>

						<li class="registerBtn">
							<a href="/login/">登陆</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</body>
</html>